# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
.venv/

# VS Code settings folder
.vscode/

# Python logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/